name: Build and Upload Electron App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Electron app (x64)
        run: npm run build:x64

      - name: Upload via curl SFTP
        run: |
          $files = Get-ChildItem "out/make/squirrel.windows/x64/*.exe"
          foreach ($file in $files) {
              curl --insecure -T "$($file.FullName)" `
                   --key "${{ secrets.SSH_PRIVATE_KEY_PATH }}" `
                   "sftp://root@138.201.81.246/var/www/files/releases/microbot-launcher/$($file.Name)"
          }
        shell: powershell
