name: Build Windows App

on:
    workflow_call:

permissions:
    contents: write

jobs:
    build-win:
        runs-on: windows-latest
        outputs:
            version: ${{ steps.version.outputs.version }}

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 20

            - run: npm ci
            - run: npm run release

            - name: Get version from package.json
              id: version
              run: |
                  $version = (Get-Content package.json | ConvertFrom-Json).version
                  echo "version=$version" >> $env:GITHUB_OUTPUT
              shell: pwsh

            - name: Copy only files from dist/ to filtered/
              shell: pwsh
              run: |
                  New-Item -ItemType Directory -Path filtered
                  Get-ChildItem -Path dist -File | ForEach-Object {
                    Copy-Item $_.FullName -Destination filtered
                  }

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: microbot-launcher-exe-latest
                  path: filtered/

            - name: Upload project assets
              uses: actions/upload-artifact@v4
              with:
                  name: microbot-launcher-assets
                  path: |
                      css/**
                      images/**
                      libs/**
                      index.html
                      renderer.js
